body {
    font-family: 'Montserrat', sans-serif;
    background-color:#F5F7FA;
}
/* About me section */
.about-me-section{
    margin: 0 0 40px 0;
}

.about-me-profession {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */
.main-content-section {
    padding: 100px 90px;
}
.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.about-me-section{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin-bottom: 20px;
}

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: black;
    margin-bottom: 25px;
}

.about-me-description {
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* My projects section */
.my-projects-section{
    margin: 0 0 50px 0;
}
.my-projects-list {
    padding: 0 0 0 17px;

}

.my-projects-item {
    color: black;
    font-weight: bold;
}

.my-projects-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-projects-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}

.my-projects-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* My work experience */

.my-work-experience-company {
    color: #644ad4;
}
.my-work-experience-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}

.my-work-experience-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}

.my-work-experience-divider {
    color: #000000;
}

.my-work-experience-duties {
    padding: 0 0 0 18px;
}
.my-work-experience-duty {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-work-experience-company-block {
    margin:0 15px 0 0;
}

/* Education section */

.my-education-university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #6344ee;
}

.my-education-position {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 10px 0;
}

.my-education-speciality {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.my-education-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}
.my-education-divider {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}




/* sidebar section */

.photo {
    padding-left: 25px;
}

.sidebar-section {
    background: #ec550f;
    width: 370px;
    padding: 40px 0;
}


.contacts-section,
.tech-skill-section {
    margin: 50px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

/* Contacts section */
.contacts-section-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 7px;
}
.contacts-section-link {
    color: #f5f7fa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}


